h2 {
  color: blue;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 2px lightblue;
}

body {
  padding-top: 100px; 
  text-align: center;
  background-color: #0b2545;
  color: #eeffff;
}

img {
  border: dashed lightblue 5px;
  width: 600px
}

img:hover {
  width: 55%;
}

